--extra-index-url https://download.pytorch.org/whl/cu124

torch
torchvision
torchaudio
diffusers>=0.30.0,<0.40
transformers<5
accelerate
fastapi
uvicorn
opencv-python
ultralytics
python-multipart
huggingface-hub
insightface==0.7.3
onnxruntime-gpu
git+https://github.com/tencent-ailab/IP-Adapter.git
